@import 'colors';
@import 'fonts';

html {
	font-size: 10px;
	font-family: Open Sans;
}

body {
	margin: 0;
	padding: 0;
}

button,
input[type="submit"] {
	cursor: pointer;
}

.header {
	position: relative;
	z-index: 100;

	&__bar {
		padding: 1.5rem 0;

		&-cont {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
		}
	}

	&__logo {
		&-img {
			width: 100%;
		}
	}

	&__list {
		width: 100%;
		padding: 0;
		margin: 0 6.8rem 0 3.6rem;
		display: flex;
		justify-content:space-between
	}

	&__item {
		padding-left: 3.1rem;
		font-size: 1.6rem;
		color: $black;
		background-repeat: no-repeat;
		background-position: 0 .5rem;
		list-style-type: none;

		& > * {
			display: block;
		}

		&--location {
			background-image: url('../img/icons/small/map_pin.svg');
		}

		&--time {
			background-image: url('../img/icons/small/clock.svg');
		}

		&--phone {
			background-image: url('../img/icons/small/phone_call.svg');
		}
	}

	&__call-btn {
		min-width: 19.5rem;
		min-height: 3.6rem;
		font-weight: 600;
		font-size: 1.3rem;
		color: $darkGrey;
		background-color: transparent;
		border: .1rem solid $green;
	}

	&__banner {
		overflow: hidden;

		&-cont {
			color: $white;
			background-image: url('../img/photos/header_bg.jpg');
			background-size: cover;
			background-position: center;
		}
	}

	&__content {
		min-height: calc(100vh - 8.5rem);
		padding: 2.9rem 3.2rem 2.2rem 6.4rem;
		position: relative;
		z-index: 0;
		font-size: 2rem;
		background-color: $blue + e0;
	}

	&__heading {
		margin: 0;
		position: relative;
		text-transform: uppercase;
		font-size: 5.6rem;

		&::before {
			content: "";
			position: absolute;
			width: 1.5rem;
			height: 4rem;
			background-color: $green;
			left: -3.9rem;
			top: 2rem;
		}
	}

	&__form {
		margin-top: 5rem;

		&-block {
			display: flex;
		}

		&-input {
			font-size: 1.6rem;
			padding: 0 1.2rem;

			&::placeholder {
				color: $lightGrey;
			}
		}

		&-submit {
			width: 19.5rem;
			height: 5rem;
			padding: 0 2rem;
			background-color: $green;
			color: $white;
			border-width: 0;
			text-align: right;
			font-size: 1.9rem;
		}

		&-description {
			margin-top: .6rem;
			display: block;
			color: $white;
			font-family: Source Sans Pro;
			font-size: 1.2rem;
			font-weight: 300;
			line-height: 134.7%;
			opacity: .43;
		}
	}

	&__nav {
		@extend .header__content;
		padding: 3rem 3rem 3rem 2rem;
		margin: 0;
		list-style-type: none;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&-block > *:not(&) {
			display: none;
		}

		&-link {
			display: block;
			color: $white;
			text-decoration: none;
			text-align: right;
		}

		&-btn {
			display: none;
		}
	}
}

.requirements {
	margin: 5.5rem 0;

	&__photo {
		width: 100%;
		margin: 1.5rem 0;
		position: relative;

		&::before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
			border: 2rem solid $blue + e0;
			pointer-events: none;
		}

		&-img {
			max-width: 100%;
			height: auto;
			display: block;
		}
	}

	&__content {
		margin-left: 2.8rem;
	}

	&__heading {
		@extend .header__heading;
		font-size: 3.7rem;
		padding-left: 4.3rem;
		margin-top: .3rem;

		&::before {
			height: 8.1rem;
			left: 0;
			top: 1.2rem;
		}
	}

	&__list {
		padding-left: 4.3rem;
		margin-top: 3rem;
		list-style-type: none;
	}

	&__item {
		position: relative;
		margin: 1.65rem 0;
		font-size: 2rem;
		font-weight: 600;

		&::before {
			content: "";
			width: 1.8rem;
			height: 1.8rem;
			border-radius: 100%;
			border: .4rem solid $blue;
			position: absolute;
			top: .5rem;
			left: -4.3rem;
		}
	}
}

.buyback {
	margin: 5.5rem 0;

	&__content {
		padding: 4.5rem 7rem;
		color: $white;
		background-color: $blue;
	}

	&__heading {
		@extend .requirements__heading;
		width: 50%;
		margin: 0;
		padding: 0;

		&::before {
			left: -4.3rem;
		}
	}

	&__list {
		padding: 0;
		margin: 1rem 0 0;
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		justify-content:space-between
	}

	&__item {
		width: 28.5%;
		
		&:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
			margin-top: 4rem;
			padding-top: 4.5rem;
			border-top: .1rem solid $green;
		}

		&-icon {
			transform: translateX(-1rem);
		}

		&-title {
			min-height: 5.5rem;
			font-size: 2rem;
			font-weight: 600;
		}

		&-description {
			margin-top: 2.6rem;
			font-family: Roboto;
			font-size: 1.9rem;
			font-weight: 300;
		}
	}
}

.call-block {
	margin: 6rem 0;
	color: $white;

	&__cont {
		padding: 4.5rem 7rem;
		position: relative;
		z-index: 0;
		display: flex;
		background-image: url('../img/photos/form_bg_1.jpg');
		background-repeat: no-repeat;
		background-size: cover;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background-color: $blue + e0;
		}
	}

	&__content {
		width: 45%;
	}

	&__heading {
		@extend .buyback__heading;
		width: 100%;
	}

	&__description {
		padding: 0 1rem;
		font-size: 1.9rem;
		font-weight: 600;
	}

	&__form {
		margin: auto 0 auto auto;

		&-block {
			@extend .header__form-block;
		}

		&-input {
			@extend .header__form-input;
			min-width: 32.7rem;
		}

		&-submit {
			@extend .header__form-submit;
		}

		&-description {
			@extend .header__form-description;
		}
	}
}

.rent {
	@extend .requirements;

	&__heading {
		@extend .requirements__heading;
		width: 45%;
		margin-bottom: 4.5rem;
	}

	&__nav {
		width: calc(100% + 10.432rem);
		display: flex;
		justify-content: space-between;
		position: absolute;
		left: -5.216rem;
		top: 32.3%;
		pointer-events: none;

		&-btn {
			width: 2.216rem;
			height: 7.01rem;
			padding: 0;
			border-width: 0;
			background-color: transparent;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: .01rem;
			pointer-events: auto;

			&::before,
			&::after {
				content: "";
				width: .2rem;
				height: 3.5rem;
				margin: -.3rem;
				background-color: $darkGrey;
			}

			&--prev::before,
			&--next::after {
				transform: 	rotateZ(35deg);
			}

			&--prev::after,
			&--next::before {
				transform: 	rotateZ(-35deg);
			}
		}
	}

	&__item {
		position: relative;

		&::before {
			@extend .requirements__photo::before;
			width: calc(100% - 3rem);
			left: 1.5rem;
		}

		&-photo {
			width: 100%;
			height: 26.3rem;
		}

		&-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&-cont {
			padding: 3rem 4.5rem 4rem;
		}

		&-title {
			margin: 0;
			font-size: 2.5rem;
			font-weight: 600;
		}

		&-list {
			padding: 1.85rem 0 2.85rem;
			margin: 0;
			border-bottom: .1rem solid $green;
			list-style-type: none;
		}

		&-li {
			@extend .requirements__item;
			padding-left: 1.8em;
			font-size: 1.9rem;

			&::before {
				left: 0;
			}
		}
	}

	&__price {
		margin: 2.5rem 0 3.8rem;
		display: block;
		text-align: center;
		font-size: 2.5rem;
		font-weight: 600;
	}

	&__btn {
		width: 100%;
		height: 5rem;
		border-width: 0;
		color: $white;
		background-color: $green;
		font-size: 1.9rem;
	}
}

.work-procent {
	@extend .rent;

	&__heading {
		@extend .rent__heading;
		width: 100%;
	}

	&__nav {
		@extend .rent__nav;

		&-btn {
			@extend .rent__nav-btn;

			&::before,
			&::after {
				@extend .rent__nav-btn::before, .rent__nav-btn::after;
			}

			&--prev::before,
			&--next::after {
				transform: 	rotateZ(35deg);
			}

			&--prev::after,
			&--next::before {
				transform: 	rotateZ(-35deg);
			}
		}
	}

	&__item {
		@extend .rent__item;

		&-cont {
			@extend .rent__item-cont;
		}

		&-title {
			@extend .rent__item-title;
		}

		&-photo {
			@extend .rent__item-photo;
		}

		&-img {
			@extend .rent__item-img;
		}

		&-list {
			@extend .rent__item-list;
		}

		&-li {
			@extend .rent__item-li;
		}
	}

	&__price {
		@extend .rent__price;
	}

	&__btn {
		@extend .rent__btn;
	}

	&__block {
		width: 100%;
		padding: 4.6rem 6.6rem;
		margin-top: 8rem;
		position: relative;
		color: $white;
		background-color: $blue;
	}

	&__title {
		@extend .buyback__heading;
		width: 100%;
		padding: 0;
	}

	&__list {
		@extend .requirements__list;

		&-item {
			@extend .requirements__item;

			&::before {
				border-color: $white;
			}
		}
	}

	&__description {
		min-width: 20rem;
		margin-top: 3.15rem;
		padding-top: 5rem;
		border-top: .1rem solid $green;
		display: inline-block;
		font-weight: 600;
		font-size: 2.5rem;
	}

	&__diagram {
		margin: 0;
		font-size: 18rem;
		background-color: $blue;

		&-block {
			width: 26.6rem;
			height: 26.6rem;
			position: absolute;
			right: -4.4rem;
			bottom: -4.3rem;
			z-index: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 100%;
			background-color: $white;
		}

		&:hover > span {
			color: $blue;
		}

		& > &-slice > &-bar,
		& > &-slice > &-fill {
			border-color: $green;
		}

		span {
			min-height: 5.5rem;
			display: block;
			font-family: Open Sans;
			font-size: 3.7rem;
			font-weight: 800;
			color: $darkGrey;
		}
	}
}

.testimonals {
	@extend .buyback;

	&__heading {
		@extend .work-procent__heading;
	}

	&__item {
		width: 100%;
		min-height: 64rem;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background-size: cover;
		background-position: center;

		&::before {
			@extend .requirements__photo::before;
		}

		&--first {
			background-image: url("../img/reviews/review_1.jpg");
		}

		&--second {
			background-image: url("../img/reviews/review_2.jpg");
		}

		&--third {
			background-image: url("../img/reviews/review_3.jpg");
		}
	}

	&__link {
		width: 7.2rem;
		height: 7.2rem;
		border: .3rem solid $white;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		font-size: .01rem;
		text-decoration: none;
		cursor: pointer;

		&::before {
			content: "▷";
			margin: 0 0 .4rem .9rem;
			color: $white;
			font-size: 5rem;
		}
	}

	&__btn {
		@extend .rent__btn;
		margin-top: 2rem;
	}
}

.work-start {
	@extend .call-block;

	&__cont {
		@extend .call-block__cont;
		flex-direction: column;
		background-image: url("../img/photos/fast_start_bg.jpg");
	}

	&__cont {
		@extend .call-block__cont;
	}

	&__heading {
		@extend .call-block__heading;
	}

	&__list {
		padding: 0;
		margin: 5.4rem 0 0;
		display: flex;
		justify-content: space-between;
		list-style-type: none;
	}

	&__item {
		width: 23%;
		font-size: 2rem;
		font-weight: 600;
		position: relative;
		counter-increment: step-counter;

		&::before {
			content: counter(step-counter) ".";
			display: block;
			font-size: 4.8rem;
			font-weight: 800;
			color: $green;
		}

		&::after {
			content: "";
			width: calc(100% - 4.8rem);
			height: .1rem;
			position: absolute;
			right: 0;
			top: 4.8rem;
			background-color: $green;
		}
	}
}

.contacts {
	@extend .testimonals;

	&__heading {
		@extend .testimonals__heading;
	}

	&__map {
		width: 100%;
		min-height: 44rem;
		padding: 1.5rem;

		&-cont {
			position: relative;

			&::before {
				@extend .requirements__photo::before;
			}
		}
	}
}

.footer {
	&__bar {
		@extend .header__bar;

		&-cont {
			@extend .header__bar-cont;
		}
	}

	&__list {
		@extend .header__list;
	}

	&__item {
		@extend .header__item;

		&--location {
			@extend .header__item--location;
		}

		&--time {
			@extend .header__item--time;
		}

		&--phone {
			@extend .header__item--phone;
		}
	}

	&__call-btn {
		@extend .header__call-btn;
	}

	&__content {
		margin: 9.1rem 0 7.4rem;
	}

	&__heading {
		margin: 0;
		font-size: 1.6rem;
		font-weight: 700;
	}

	&__info {
		margin-top: 1rem;
		display: flex;
		justify-content:space-between;
		color: $lightGrey;
		font-size: 1.3rem;
		font-weight: 300;
	}

	&__copyright {
		text-align: right;
		color: $black;
	}
}

.popup {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	position: fixed;
	left: 0;
	top: -100vh;
	color: $white;
	background-color: $darkGrey + e0;
	transition: all .3s;

	&__block {
		width: 100%;
		padding: 2.5rem 6.5rem;
		margin: 12.5rem 0;
		position: relative;
		background-color: $blue;
	}

	&__close {
		width: 4rem;
		height: 4rem;
		padding: 0;
		border-width: 0;
		position: absolute;
		right: 1.2rem;
		top: 1.2rem;
		z-index: 9;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: .01rem;
		background-color: transparent;

		&::before,
		&::after {
			content: "";
			width: .2rem;
			height: 2.4rem;
			position: absolute;
			background-color: $white;
		}

		&::before {
			transform: rotateZ(45deg);
		}

		&::after {
			transform: rotateZ(-45deg);
		}
	}

	&__heading {
		@extend .call-block__heading;
		padding-left: 4.3rem;

		&::before {
			height: 3rem;
			left: 0;
		}
	}

	&__description {
		font-size: 1.9rem;
		font-weight: 300;
		font-family: Roboto Light;
	}

	&__form {
		@extend .call-block__form;

		&-block {
			@extend .call-block__form-block;
		}

		&-input {
			@extend .call-block__form-input;
			width: 100%;
		}

		&-submit {
			@extend .call-block__form-submit;
			text-align: center;
		}

		&-description {
			@extend .call-block__form-description;
		}
	}
}

@media (max-width: 992px) {
	.header {
		&__logo {
			width: 10.5rem;
		}

		&__list {
			width: auto;
			margin: 0 auto;
		}

		&__item {
			padding-left: 2.8rem;
			font-size: 1.2rem;

			&--location,
			&--time {
				display: none;
			}
		}

		&__call-btn {
			display: none;
		}

		&__container {
			padding: 0;
		}

		&__nav {
			padding: 1.5rem;
			background-color: transparent;

			&-block {
				width: 100vw;
				height: 100vh;
				position: fixed;
				left: -100vw;
				top: 0;
				z-index: 100;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background-color: $white;
				transition: all .3s;

				& > .header__call-btn {
					margin-top: 2.8rem;
					display: block;
				}
			}

			&-link {
				color: $darkGrey;
				text-align: center;
			}

			&-btn {
				height: 2.5rem;
				padding: 0;
				border-width: 0;
				background-color: transparent;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				span,
				&::before,
				&::after {
					content: "";
					width: 3.1rem;
					height: .3rem;
					background-color: $darkGrey;
					display: inline-block;
				}
			}
		}

		&__nav-block > &__close-btn {
			width: 2.4rem;
			height: 2.4rem;
			padding: 0;
			border-width: 0;
			position: absolute;
			right: 1.3rem;
			top: 1.9rem;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: .01rem;
			background-color: transparent;

			&::before,
			&::after {
				content: "";
				width: .2rem;
				height: 2.4rem;
				position: absolute;
				background-color: $darkGrey;
			}

			&::before {
				transform: rotateZ(45deg);
			}

			&::after {
				transform: rotateZ(-45deg);
			}
		}

		&__content {
			padding: 6rem 1rem 3rem 1rem;
		}

		&__heading {
			margin-left: 3rem;
			font-size: 3.4rem;

			&::before {
				width: .9rem;
				height: 2.9rem;
				left: -2rem;
				top: 1.2rem;
			}
		}

		&__paragraph {
			margin-left: 3rem;
			margin-right: 1rem;
			font-size: 2rem;

			br {
				display: none;
			}
		}

		&__form {
			min-width: auto;

			&-block {
				flex-direction: column;
			}

			&-input,
			&-submit {
				min-width: auto;
				width: 100%;
				height: 5rem;
			}

			&-submit {
				margin-top: 1.3rem;
				text-align: center;
			}
		}
	}

	.requirements {
		margin: 3rem 0;

		&__photo {
			margin: 0 0 3rem;
		}

		&__content {
			margin: 0;
		}

		&__heading {
			margin: 0;
			padding-left: 2.7rem;
			font-size: 2.3rem;

			&::before {
				width: .7rem;
				height: 80%;
				top: .6rem;
				left: 0;
			}
		}

		&__list {
			margin-left: 3.1rem;
			padding-left: 2.8rem;
		}
	}

	.buyback {
		&__container {
			@extend .header__container;
		}

		&__content {
			padding: 3rem 1.5rem;
		}

		&__heading {
			width: 100%;
		}

		&__list {
			margin-left: 2.6rem;
		}

		&__item {
			width: 100%;
			margin-top: 1.5rem !important;
    		padding-top: 0 !important;
    		border-width: 0 !important;

    		&-title {
    			min-height: auto;
    		}
		}
	}

	.call-block {
		margin: 3rem 0;

		&__container {
			@extend .header__container;
		}

		&__cont {
			padding: 3rem 1.5rem;
			flex-direction: column;
		}

		&__content {
			width: 100%;
		}

		&__description {
			padding: 0;
			margin-left: 2.7rem;
		}

		&__form {
			width: 100%;
		}
	}

	.rent {
		&__heading {
			min-width: 30.3rem;
			width: 100%;
			margin-bottom: 3rem;
		}

		&__nav {
			width: calc(100% - 10rem);
			top: 24rem;
			left: 50%;
			transform: translateX(-50%);

			&-btn {
				width: 1.6rem;
				height: 5rem;

				&::before,
				&::after {
					height: 2.75rem;
				}
			}
		}

		&__item {
			&-cont {
				padding-left: 4rem;
				padding-right: 4rem;
			}
		}
	}

	.work-procent {
		&__heading {
			br {
				display: none;
			}
		}

		&__container {
			@extend .header__container;

			&:not(:last-child) {
				margin-bottom: 7rem;
			}
		}

		&__block {
			margin-top: 3rem;
			padding: 2.7rem 1.5rem;
		}

		&__list {
			margin-left: 4.5rem;
		}

		&__description {
			padding-top: 3rem;
			padding-bottom: 16rem;
			margin-left: 4rem;
			margin-right: 3.2rem;
			display: block;
			text-align: center;
		}

		&__diagram {
			font-size: 13.805rem;

			&-block {
				width: 20.4rem;
				height: 20.4rem;
				right: 50%;
				transform: translateX(50%);
			}

			span {
				margin: .6rem;
				font-size: 2.5rem;
			}
		}
	}

	.testimonals {
		&__item {
			min-height: 53rem;

			&-cont {
				&:not(:first-child) {
					display: none;
				}
			}
		}
	}

	.work-start {
		&__container {
			@extend .header__container;
		}

		&__list {
			margin: 2rem;
			flex-direction: column;
		}

		&__item {
			width: 100%;
		}
	}

	.contacts {
		margin-bottom: 3rem;
	}

	.footer {
		&__bar {
			&-cont {
				flex-direction: column;
			}
		}

		&__logo {
			display: none;
		}

		&__list {
			flex-direction: column;
		}

		&__item {
			padding: 2.9rem 0 0;
			margin-bottom: 2.4rem;
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
			font-size: 1.6rem;
			background-position: center 0;

			&--location,
			&--time,
			&--phone {
				display: flex;
			}

			span {
				margin: 0 .5rem;
				display: inline-block;
			}
		}

		&__call-btn {
			width: 100%;
			margin-top: 1.6rem;
			display: block;
		}

		&__content {
			margin-top: 3rem;
			margin-bottom: 3.5rem;
		}

		&__heading {
			padding-top: 3rem;
			border-top: .1rem solid $lightGrey;
			text-align: center;
		}

		&__info {
			flex-direction: column;
			text-align: center;

			br {
				display: none;
			}
		}

		&__copyright {
			margin-top: 2.6rem;
		}
	}

	.popup {
		align-items: center;

		&__block {
			padding: 1.5rem;
			margin: 0;
		}

		&__heading {
			padding-right: 3.3rem;
		}
	}
}