@import 'colors';
@import 'fonts';

html {
	font-size: 10px;
	font-family: Open Sans;
}

body {
	margin: 0;
	padding: 0;
}

button,
input[type="submit"] {
	cursor: pointer;
}

.header {
	&__bar {
		min-height: 8.5rem;
		padding: 1.5rem 0;

		&-cont {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
		}
	}

	&__list {
		width: 100%;
		padding: 0;
		margin: 0 6.8rem 0 3.6rem;
		display: flex;
		justify-content:space-between
	}

	&__item {
		padding-left: 3.1rem;
		font-size: 1.6rem;
		color: $black;
		background-repeat: no-repeat;
		background-position: 0 .5rem;
		list-style-type: none;

		& > * {
			display: block;
		}

		&--location {
			background-image: url('../img/icons/small/map_pin.svg');
		}

		&--time {
			background-image: url('../img/icons/small/clock.svg');
		}

		&--phone {
			background-image: url('../img/icons/small/phone_call.svg');
		}
	}

	&__call-btn {
		min-width: 19.5rem;
		min-height: 3.6rem;
		font-weight: 600;
		font-size: 1.3rem;
		color: $darkGrey;
		background-color: transparent;
		border: .1rem solid $green;
	}

	&__banner {
		&-cont {
			color: $white;
			background-image: url('../img/photos/header_bg.jpg');
			background-size: cover;
		}
	}

	&__content {
		min-height: calc(100vh - 8.5rem);
		padding: 2.9rem 3.2rem 2.2rem 6.4rem;
		position: relative;
		z-index: 0;
		font-size: 2rem;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background-color: $blue + e0;
		}
	}

	&__heading {
		margin: 0;
		position: relative;
		text-transform: uppercase;
		font-size: 5.6rem;

		&::before {
			content: "";
			position: absolute;
			width: 1.5rem;
			height: 4rem;
			background-color: $green;
			left: -3.9rem;
			top: 2rem;
		}
	}

	&__form {
		margin-top: 5rem;

		&-block {
			display: flex;
		}

		&-input {
			font-size: 1.6rem;
			padding: 0 1.2rem;

			&::placeholder {
				color: $lightGrey;
			}
		}

		&-submit {
			width: 19.5rem;
			height: 5rem;
			padding: 0 2rem;
			background-color: $green;
			color: $white;
			border-width: 0;
			text-align: right;
			font-size: 1.9rem;
		}

		&-description {
			margin-top: .6rem;
			display: block;
			color: $white;
			font-family: Source Sans Pro;
			font-size: 1.2rem;
			font-weight: 300;
			line-height: 134.7%;
			opacity: .43;
		}
	}

	&__nav {
		@extend .header__content;
		padding: 3rem 3rem 3rem 2rem;
		margin: 0;
		list-style-type: none;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&-link {
			display: block;
			color: $white;
			text-decoration: none;
			text-align: right;
		}
	}
}

.requirements {
	margin: 5.5rem 0;

	&__photo {
		width: 100%;
		margin: 1.5rem 0;
		position: relative;

		&::before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
			border: 2rem solid $blue + e0;
			pointer-events: none;
		}

		&-img {
			max-width: 100%;
			height: auto;
			display: block;
		}
	}

	&__content {
		margin-left: 2.8rem;
	}

	&__heading {
		@extend .header__heading;
		font-size: 3.7rem;
		padding-left: 4.3rem;
		margin-top: .3rem;

		&::before {
			height: 8.1rem;
			left: 0;
			top: 1.2rem;
		}
	}

	&__list {
		padding-left: 4.3rem;
		margin-top: 3rem;
		list-style-type: none;
	}

	&__item {
		position: relative;
		margin: 1.65rem 0;
		font-size: 2rem;
		font-weight: 600;

		&::before {
			content: "";
			width: 1.8rem;
			height: 1.8rem;
			border-radius: 100%;
			border: .4rem solid $blue;
			position: absolute;
			top: .5rem;
			left: -4.3rem;
		}
	}
}

.buyback {
	margin: 5.5rem 0;

	&__content {
		padding: 4.5rem 7rem;
		color: $white;
		background-color: $blue;
	}

	&__heading {
		@extend .requirements__heading;
		width: 50%;
		margin: 0;
		padding: 0;

		&::before {
			left: -4.3rem;
		}
	}

	&__list {
		padding: 0;
		margin: 1rem 0 0;
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		justify-content:space-between
	}

	&__item {
		width: 28.5%;
		
		&:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
			margin-top: 4rem;
			padding-top: 4.5rem;
			border-top: .1rem solid $green;
		}

		&-icon {
			transform: translateX(-1rem);
		}

		&-title {
			min-height: 5.5rem;
			font-size: 2rem;
			font-weight: 600;
		}

		&-description {
			margin-top: 2.6rem;
			font-family: Roboto;
			font-size: 1.9rem;
			font-weight: 300;
		}
	}
}

.call-block {
	margin: 6rem 0;
	color: $white;

	&__cont {
		padding: 4.5rem 7rem;
		position: relative;
		z-index: 0;
		display: flex;
		background-image: url('../img/photos/form_bg_1.jpg');
		background-repeat: no-repeat;
		background-size: cover;

		&::before {
			@extend .header__content::before;
		}
	}

	&__content {
		width: 45%;
	}

	&__heading {
		@extend .buyback__heading;
		width: 100%;
	}

	&__description {
		padding: 0 1rem;
		font-size: 1.9rem;
		font-weight: 600;
	}

	&__form {
		margin: auto 0 auto auto;

		&-block {
			@extend .header__form-block;
		}

		&-input {
			@extend .header__form-input;
			min-width: 32.7rem;
		}

		&-submit {
			@extend .header__form-submit;
		}

		&-description {
			@extend .header__form-description;
		}
	}
}

.rent {
	@extend .requirements;

	&__heading {
		@extend .requirements__heading;
		width: 45%;
		margin-bottom: 4.5rem;
	}

	&__item {
		position: relative;

		&::before {
			@extend .requirements__photo::before;
			width: calc(100% - 3rem);
			left: 1.5rem;
		}

		&-photo {
			width: 100%;
			height: 26.3rem;
		}

		&-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&-cont {
			padding: 3rem 4.5rem 4rem;
		}

		&-title {
			margin: 0;
			font-size: 2.5rem;
			font-weight: 600;
		}

		&-list {
			padding: 1.85rem 0 2.85rem;
			margin: 0;
			border-bottom: .1rem solid $green;
			list-style-type: none;
		}

		&-li {
			@extend .requirements__item;
			padding-left: 1.8em;
			font-size: 1.9rem;

			&::before {
				left: 0;
			}
		}
	}

	&__price {
		margin: 2.5rem 0 3.8rem;
		display: block;
		text-align: center;
		font-size: 2.5rem;
		font-weight: 600;
	}

	&__btn {
		width: 100%;
		height: 5rem;
		border-width: 0;
		color: $white;
		background-color: $green;
		font-size: 1.9rem;
	}
}

.work-procent {
	@extend .rent;

	&__heading {
		@extend .rent__heading;
		width: 100%;
	}

	&__item {
		@extend .rent__item;

		&-cont {
			@extend .rent__item-cont;
		}

		&-title {
			@extend .rent__item-title;
		}

		&-photo {
			@extend .rent__item-photo;
		}

		&-img {
			@extend .rent__item-img;
		}

		&-list {
			@extend .rent__item-list;
		}

		&-li {
			@extend .rent__item-li;
		}
	}

	&__price {
		@extend .rent__price;
	}

	&__btn {
		@extend .rent__btn;
	}

	&__block {
		width: 100%;
		padding: 4.6rem 6.6rem;
		margin-top: 8rem;
		color: $white;
		background-color: $blue;
	}

	&__title {
		@extend .buyback__heading;
		width: 100%;
		padding: 0;
	}

	&__list {
		@extend .requirements__list;

		&-item {
			@extend .requirements__item;

			&::before {
				border-color: $white;
			}
		}
	}

	&__description {
		min-width: 20rem;
		margin-top: 3.15rem;
		padding-top: 5rem;
		border-top: .1rem solid $green;
		display: inline-block;
		font-weight: 600;
		font-size: 2.5rem;
	}
}

.testimonals {
	@extend .buyback;

	&__heading {
		@extend .work-procent__heading;
	}

	&__item {
		width: 100%;
		min-height: 64rem;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background-size: cover;
		background-position: center;

		&::before {
			@extend .requirements__photo::before;
		}

		&--first {
			background-image: url("../img/reviews/review_1.jpg");
		}

		&--second {
			background-image: url("../img/reviews/review_2.jpg");
		}

		&--third {
			background-image: url("../img/reviews/review_3.jpg");
		}
	}

	&__link {
		width: 7.2rem;
		height: 7.2rem;
		border: .3rem solid $white;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		font-size: .01rem;
		text-decoration: none;
		cursor: pointer;

		&::before {
			content: "▷";
			margin: 0 0 .4rem .9rem;
			color: $white;
			font-size: 5rem;
		}
	}

	&__btn {
		@extend .rent__btn;
		margin-top: 2rem;
	}
}

.work-start {
	@extend .call-block;

	&__cont {
		@extend .call-block__cont;
		flex-direction: column;
		background-image: url("../img/photos/fast_start_bg.jpg");
	}

	&__cont {
		@extend .call-block__cont;
	}

	&__heading {
		@extend .call-block__heading;
	}

	&__list {
		padding: 0;
		margin: 5.4rem 0 0;
		display: flex;
		justify-content: space-between;
		list-style-type: none;
	}

	&__item {
		width: 23%;
		font-size: 2rem;
		font-weight: 600;
		position: relative;
		counter-increment: step-counter;

		&::before {
			content: counter(step-counter) ".";
			display: block;
			font-size: 4.8rem;
			font-weight: 800;
			color: $green;
		}

		&::after {
			content: "";
			width: calc(100% - 4.8rem);
			height: .1rem;
			position: absolute;
			right: 0;
			top: 4.8rem;
			background-color: $green;
		}
	}
}

.contacts {
	@extend .testimonals;

	&__heading {
		@extend .testimonals__heading;
	}

	&__map {
		width: 100%;
		min-height: 44rem;
		padding-top: 1.5rem;

		&-cont {
			&::before {
				@extend .requirements__photo::before;
			}
		}
	}
}

.footer {
	&__bar {
		@extend .header__bar;

		&-cont {
			@extend .header__bar-cont;
		}
	}

	&__list {
		@extend .header__list;
	}

	&__item {
		@extend .header__item;

		&--location {
			@extend .header__item--location;
		}

		&--time {
			@extend .header__item--time;
		}

		&--phone {
			@extend .header__item--phone;
		}
	}

	&__call-btn {
		@extend .header__call-btn;
	}

	&__content {
		margin: 9.1rem 0 7.4rem;
	}

	&__heading {
		margin: 0;
		font-size: 1.6rem;
		font-weight: 700;
	}

	&__info {
		margin-top: 1rem;
		display: flex;
		justify-content:space-between;
		color: $lightGrey;
		font-size: 1.3rem;
		font-weight: 300;
	}

	&__copyright {
		text-align: right;
		color: $black;
	}
}